In [52]:
#importing the required libraries
import numpy as np
import pandas as pd

<h3>Creating the Data Frame using Lists</h3>

In [54]:
# creating a list of data
lst_1 = [['D101','Dr.Anil Kumar','Cardiologist',12,'chennai'],
       ['D102','Dr. Priya Singh','Dermatologist',8,'Delhi'],
       ['D103','Dr.Ramesh','Neurologist',15,'Bengaluru'],
       ['D104','Dr.Nirinjan Kumar','Pediatrician',6,'Mumbai'],
       ['D105','Dr. suresh Rao','Orthopedic',10,'Hyderabad']]

In [55]:
# Creating the columns names for the above list
cols = ['Doctor ID','Name','Specialization', 'Experience(Years)','City']

In [56]:
# Now creating a data frame using the list
df_list = pd.DataFrame(lst_1 , columns = cols)
df_list

  Doctor ID               Name Specialization  Experience(Years)       City
0      D101      Dr.Anil Kumar   Cardiologist                 12    chennai
1      D102    Dr. Priya Singh  Dermatologist                  8      Delhi
2      D103          Dr.Ramesh    Neurologist                 15  Bengaluru
3      D104  Dr.Nirinjan Kumar   Pediatrician                  6     Mumbai
4      D105     Dr. suresh Rao     Orthopedic                 10  Hyderabad

In [57]:
# now the indexing number od the dataframe to is DoctorID column

In [58]:
df_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Doctor ID          5 non-null      object
 1   Name               5 non-null      object
 2   Specialization     5 non-null      object
 3   Experience(Years)  5 non-null      int64
 4   City               5 non-null      object
dtypes: int64(1), object(4)
memory usage: 332.0+ bytes

In [59]:
df_list.describe()

       Experience(Years)
count            5.00000
mean            10.20000
std              3.49285
min              6.00000
25%              8.00000
50%             10.00000
75%             12.00000
max             15.00000

<h3>Creating DataFrames using Dictionaries</h3>

In [61]:
# Creating a Dictionary 
data = {
    'Doctor ID' : ('D101','D102','D103','D104','D105'),
    'Name':['Dr.Anil Kumar','Dr. Priya Singh','Dr.Ramesh','Dr.Nirinjan Kumar','Dr. suresh Rao'],
    'Specialization': ['Cardiologist','Dermatologist','Neurologist','Pediatrician','Orthopedic'],
    'Experience(Years)' :[12,8,15,6,10],
    'City' : ['chennai','Delhi', 'Bengaluru', 'Mumbai', 'Hyderabad']
}

In [62]:
#Creating a DataFrames using Dictionary
df = pd.DataFrame(data, columns = cols)
df

  Doctor ID               Name Specialization  Experience(Years)       City
0      D101      Dr.Anil Kumar   Cardiologist                 12    chennai
1      D102    Dr. Priya Singh  Dermatologist                  8      Delhi
2      D103          Dr.Ramesh    Neurologist                 15  Bengaluru
3      D104  Dr.Nirinjan Kumar   Pediatrician                  6     Mumbai
4      D105     Dr. suresh Rao     Orthopedic                 10  Hyderabad

In [63]:
# now the indexing number od the dataframe to is DoctorID column
df_list.set_index('Doctor ID')

                        Name Specialization  Experience(Years)       City
Doctor ID
D101           Dr.Anil Kumar   Cardiologist                 12    chennai
D102         Dr. Priya Singh  Dermatologist                  8      Delhi
D103               Dr.Ramesh    Neurologist                 15  Bengaluru
D104       Dr.Nirinjan Kumar   Pediatrician                  6     Mumbai
D105          Dr. suresh Rao     Orthopedic                 10  Hyderabad

In [64]:
# checking the dimension of DataFrame
df.ndim

2

In [65]:
#checking the shape of DataFrame
df.shape

(5, 5)

In [66]:
#checking the type of data
type(lst_1),type(df_list),type(data),type(df)

(list, pandas.core.frame.DataFrame, dict, pandas.core.frame.DataFrame)