<h3>A company wants to calculate the final salary of an employee after adding a bonus. The
bonus depends on the employee’s years of experience and monthly salary.<h3>

<h4>Bonus Rules:
    
• If the employee has more than 5 years of experience and the salary is less than
50,000/- : Add 10% bonus to the salary
    
• If the employee has 3 to 5 years of experience: Add 5% bonus to the salary

• If the employee has less than 3 years of experience: No bonus</h4>

In [8]:
# Taking input from the users like Employee name ,Experience,Salary
Employee_name = input("Enter the Employee name :")
Salary = float(input("Enter the Monthly salary :" ))
Years_of_Experience = int(input("Enter the Years of Experience :"))

Enter the Employee name : Raju
Enter the Monthly salary : 100000
Enter the Years of Experience : 4

In [10]:
#calculating the bonus amount for employee by creating a function and conditional statements
def calculated_bonus():
    if Years_of_Experience > 5 and Salary <50000.00:
        bonus = Salary * 0.1
    elif 3 >= Years_of_Experience <= 5:
        bonus = Salary * 0.05
    else:
        bonus = 0
    return bonus

In [22]:
# storing the return values
Bonus_amount= calculated_bonus()

In [24]:
#calculating the final salary of employee
Final_amount = Salary + Bonus_amount

In [26]:
# Displaying the Ouput using Print()
print("FINAL EMPLOYEE SALARY")
print(f"EMPLOYEE NAME : {Employee_name}")
print(f"EXPERIENCE(in yrs) : {Years_of_Experience}")
print(f"BONUS AMOUNT : {Bonus_amount}")
print(f"FINAL SALARY : {Final_amount}")

FINAL EMPLOYEE SALARY
EMPLOYEE NAME : Raju
EXPERIENCE(in yrs) : 4
BONUS AMOUNT : 0
FINAL SALARY : 100000.0

<h3>A training institute wants to decide whether a student is eligible to receive a certificate.
The eligibility depends on the student’s attendance percentage and marks obtained in
subjects.</h3>

<h4>Eligibility Rules:</h4>
<h5>
A student is Eligible for Certification only if both conditions are satisfied:

    
• Attendance must be at least 75%

• Marks in all subjects must be 40 or above

• If any one of the above conditions is not satisfied, the student is Not Eligible.</h5>

In [49]:
#Taking the input from the user
Student_name = input("Enter the students Name : ")
Total_classes = int(input("Enter the Total number of classes conducted : "))
Classes_attended = int(input("Enter number of classes attended:"))

Enter the students Name :  Ravi
Enter the Total number of classes conducted :  30
Enter number of classes attended: 25

In [35]:
#calculating attendance
Attendance = (Classes_attended/Total_classes) * 100

In [37]:
Attendance

83.33333333333334

In [39]:
Marks = []
for i in range (1,4):
    mark = float(input("Enter the marks: "))
    Marks.append(mark)

Enter the marks:  86
Enter the marks:  82
Enter the marks:  88

In [43]:

def checking_eligiblity():
    if Attendance > 75.0 and min(Marks) > 40:
        return "Eligible"
    else :
        return "Not Eligible"

In [45]:
#storing theretuen values
Eligibility = checking_eligiblity()

In [47]:
print(f"STUDENT NAME : {Student_name}")
print(f"ATTENDANCE : {Attendance}")
print(f"MARKS OF ALL SUBJECTS : {Marks}")
print(f"ELIGIBILITY STATUS: {Eligibility}")

STUDENT NAME : Ramu
ATTENDANCE : 83.33333333333334
MARKS OF ALL SUBJECTS : [86.0, 82.0, 88.0]
ELIGIBILITY STATUS: Eligible